# Dependencies
node_modules/

# Build outputs
dist/

# Environment
.env
.env.local
.env.*.local
.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Turborepo
.turbo/

# Testing
coverage/

# Deploy
.vercel/

# IDE
.idea/
*.swp
*.swo
